.spinner-wrap {
  display: flex;
  flex-direction: column;
}

.spinner__overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}

.spinner {
  opacity: 0.8;
  stroke-dasharray: 100;
  stroke-dashoffset: 450;
  animation: draw 0.15s linear infinite;
}

.spinner__text {
  color: var(--main);
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
