.main-navigation__menu-btn {
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 2rem;
  cursor: pointer;
  outline: none;
}

.main-navigation__menu-btn svg {
  color: var(--main);
}

.main-navigation__title a {
  text-decoration: none;
  color: var(--main-dark);
  display: flex;
  align-items: center;
}

.main-navigation__title a > span {
  margin: 0.3rem;
}

.main-navigation__header-nav {
  display: none;
}

.main-navigation__drawer-nav {
  height: 100%;
}

@media (min-width: 768px) {
  .main-navigation__menu-btn {
    display: none;
  }

  .main-navigation__header-nav {
    display: block;
  }
}
